:root{

    --text-color: white;
    --background-color: rgb(248, 248, 248);
    --background-color-mision-vision-valores: rgb(255, 255, 255);
    --background-color-mision-vision-valores-div:  rgb(102, 169, 211);
    --background-color-footer: black;
    --background-color-sections:rgb(227, 240, 252);
    --background-color-sections-dark:rgb(204, 228, 252);

}




/*--------BODY-----------*/



body{
    background-color: var(--background-color);
    text-align: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;}




.menu-inicio{

    width: 100%;
    position: fixed;
    z-index: 1000;

}

.primera-seccion{
    padding-top: 100px;
    min-height: calc(100vh - 100px - 150px);
}


/*--------HEADER---------*/
.banner-header{
    background-image: url("img/bg-photo3.jpeg");
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2200px;

}

.banner-head-tittle{
    font-size: 60px;
    text-align: center;
    color: var(--text-color);
    padding-top: 400px;
    font-weight: 500;
    
}

/*------PAGINACION------*/

.pagination{

    justify-content: center;
    padding-top: 25px;
    border-top: solid 2px rgb(224, 224, 224);


}


/*-------FOOTER-------*/

.footer{

    display: flex;
    background-color: rgb(143, 21, 21);
    color: var(--text-color);
    justify-content: space-around;
    align-items: baseline;
    bottom: 0;
    position: static;
    width: 100%;
    height: 250px;

}

.footer-informacion{

    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;



}

.footer-informacion div{
    padding: 30px;
    margin: 0 50px;
}

/*----------MISIÓN VISIÓN VALORES-----------*/
.mision-vision--valores-flexbox{

    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--background-color-mision-vision-valores);
    justify-content: center;
    flex-wrap: wrap;
    min-width: 600px


}

.mision-vision--valores-flexbox div{ 
    color: var(--text-color);
    margin: 0; 

}

/*--------MISION-----------*/
.mision-flexbox{
    background-color: #737495;
    padding: 30px;


 }

.mision-flexbox-icon{

    filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(248deg) brightness(109%) contrast(100%);

    
}

/*------VISION------*/

.vision-flexbox{
    background-color: #68a8ad;
    padding: 30px;


}

.vision-flexbox-icon{
    filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(248deg) brightness(109%) contrast(100%);



}

/*------VALORES--------*/

.valores-flexbox{
    background-color: #6c8672;
    padding: 30px;
}
.valores-flexbox p{

    padding-top: 30px;
}

.valores-flexbox-icon{
    padding-top: 15px;
    filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(248deg) brightness(109%) contrast(100%);
}

/*------FILOSOFIA-----*/

.filosofia-institucional{

    margin: 150px;
    background-color: var(--background-color);
    text-align: center;
    justify-content: center;

}

/*----CONTACTO-----*/

.contacto{

    background-color: var(--background-color-sections);
    color: black;
    text-align: center;
    justify-content: center;


}

.contacto h2 {
    padding: 20px;
    background-color: var(--background-color-sections-dark);
}

.contacto-subtitulo{
    padding: 10px;
    padding-top: 20px;
}

.contacto p {

    padding-bottom: 50px;
    margin-left: 250px;
    margin-right: 250px;
    
    
}

/*------INDEX 2---------*/

.quienes-somos{


    padding-top: 60px;
    background-color: var(--background-color-);
    text-align: center;
    justify-content: center;
    border-top: solid 2px var(--background-color-sections);

    
}

.quienes-somos-informacion{
    text-align: center;
    justify-content: center;

}

.quienes-somos-informacion h1{

    border-bottom: solid 2px rgb(224, 224, 224);
    padding-bottom: 25px;
}

.quienes-somos-informacion-text{

    padding-top: 15px;
    padding: 30px;


}

/*---------ESCUDO-----------*/

.escudo{

    background-color: var(--background-color-sections);
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.escudo-logo{
    padding: 20px;
    
}

.escudo-significado{
    padding: 15px;

}

/*---------BANDERA-----------*/

.bandera{


    text-align: center;
    justify-content: center;
    padding: 30px;

}

.bandera-logo{
    padding: 20px;
    
}

.bandera-significado{
    padding: 15px;

}


/*---------HIMNO-----------*/

.himno{
   
    
    background-color: var(--background-color-sections);
    text-align: center;
    justify-content: center;
    padding: 30px;
    align-items: center;

}

.himno-letra{
    padding: 15px;

}

.himno-video{

    overflow:hidden;
    padding-bottom: 400px; /* Adecua este valor para controlar la altura del video */
    position:relative;
    height:0;

}

.himno-video iframe{

    
}

/*-------MANUAL CONVIVENCIA------*/

.manual-convivencia{
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
    margin: solid;

}



/*-----------INDEX 3----------*/

.academico-contenido{
padding-top: 60px;

}

.academico-contenido h1{

    padding-bottom: 25px ;

    
}

.academico-contents{

    border-top:  solid 2px rgb(224, 224, 224);
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--background-color-sections);
}

.academico-contenido-contents{


    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.academico-contenido-img{

    background-color: var(--background-color-sections);
    
}
.academico-contenido-texto{
    text-align: center;
    margin: 50px;
    align-items: center;

}

/*---------INDEX 3_1_2_3_4_5------*/

.sedes{

padding-top: 60px;


}

.sedes-grados{

    display: flex;
    justify-content: center;
    padding-top: 20px;

}

.sedes-grados div{

    padding: 20px;
    margin: 20px;
    background-color: var(--background-color-sections);
    flex-wrap: wrap;


}

.sedes-text{
    padding-top: 80px;
    border-bottom: solid 2px rgb(224, 224, 224);
    height: 300px;
    background-color: var(--background-color-sections);
}

.sedes-title{
    padding-bottom: 25px;
    border-bottom: solid 2px rgb(224, 224, 224);

}

.sedes-grados-sabatino{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-sections);

}
.sedes-grados-sabatino div{
    width: 400px;
    padding: 20px 20px;
    margin: 20px 20px;
    background-color: var(--background-color-sections-dark);

}

/*-----INDEX 4------*/

.contrataciones{
    padding-top: 60px;
}

.contrataciones-title{

    border-bottom: solid 2px rgb(224, 224, 224);
    padding-bottom: 25px;

}

.contrataciones-text {

    padding-top: 90px;
    border-bottom: solid 2px rgb(224, 224, 224);
    height: 300px;
    background-color: var(--background-color-sections);

}

.contrataciones-docs{

    display: flex;
    flex-direction: column;
    align-items: center;

}


.contrataciones-docs div {

    padding: 20px;
    width: 400px;
    margin: 20px;
    background-color: var(--background-color-sections);
}

/*--------CONTÁCTENOS-----*/

.contactenos{
    padding-top: 60px;
}

.contactenos-title{
    border-bottom: solid 2px rgb(224, 224, 224);
    padding-bottom: 25px;
}

.contactenos-text {

    padding-top: 50px;
    border-bottom: solid 2px rgb(224, 224, 224);
    background-color: var(--background-color-sections);
    height: 320px;

}
.contactenos-text-2 {

    padding-top: 30px;

    

}

.contactenos-subtitle{

    padding-bottom: 15px;

}

.contactenos-text-dates{


}





/*--------RESPONSIVE FOR CEL max 320px-------------*/

@media only screen and (max-width: 320px){


    html{
        width: auto !important;
        overflow-x: hidden !important;
    }

    body{
        background-color: var(--background-color);
        text-align: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        max-width: 100% !important;
        overflow-x: hidden !important;

    }


    
    .menu-inicio{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: absolute;
        font-size: 20px;
        max-width: 320px;
    }

    .navbar-brand{

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 15px;
    }

    .navbar{
        display: flex;
        flex-direction: column;
    }


    .primera-seccion{


    }


/*--------HEADER---------*/
.banner-header{
    background-image: url("img/bg-photo3.jpeg");
    height: 600px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1200px;

}

.banner-head-tittle{
    font-size: 30px;
    text-align: center;
    color: var(--text-color);
    padding-top: 250px;
    font-weight: 500;
    
}


/*-------FOOTER-------*/

.footer{

    display: flex;
    background-color: rgb(143, 21, 21);
    color: var(--text-color);
    justify-content: space-around;
    align-items: baseline;
    bottom: 0;
    position: static;
    width: 100%;
    height: auto;

}

.footer-informacion{

    padding-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size:  18px;

}

.footer-informacion div{
    padding: 30px;
    margin: 0 10px;
}

/*------INDEX 1---------*/


/*----------MISIÓN VISIÓN VALORES-----------*/
.mision-vision--valores-flexbox{

    padding: 0;
    background-color: var(--background-color-mision-vision-valores);
    display: flex;
    flex-direction: column;
    max-width: 320px;

    

}

.mision-vision--valores-flexbox div{ 
    
    color: var(--text-color);
    margin: 0; 
    max-width: 320px;



}

/*------FILOSOFIA-----*/

.filosofia-institucional{

    margin: 0px;
    padding: 20px;
    background-color: var(--background-color);
    max-width: 375px;


}

.filosofia-institucional h2{

    font-size: 30px;
    text-align: center;
    
}


/*------CONTACTO------*/

.contacto{

    background-color: var(--background-color-sections);
    color: black;
    text-align: center;
    justify-content: center;
    


}

.contacto h2 {
    padding: 0x;
    background-color: var(--background-color-sections-dark);
    font-size: 30px;
}

.contacto-subtitulo{
    padding: 10px;
    padding-top: 20px;
    font-size: 5px;
}

.contacto p {


    padding: 0 20px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
     
}



/*------INDEX 2---------*/

.quienes-somos{


    padding-top: 130px;
    background-color: var(--background-color-);
    text-align: center;
    justify-content: center;
    border-top: solid 2px var(--background-color-sections);

    
}

.quienes-somos-informacion{
    text-align: center;
    justify-content: center;

}

.quienes-somos-informacion h1{

    border-bottom: solid 2px rgb(224, 224, 224);
    padding-bottom: 25px;
}

.quienes-somos-informacion-text{

    padding-top: 15px;
    padding: 30px;


}

/*---------HIMNO-----------*/

.himno{

    background-color: var(--background-color-sections);
    text-align: center;
    justify-content: center;
    padding: 30px;
}

.himno-letra{
    padding: 15px;

}

.himno-video{
}

.himno-video iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*-------MANUAL CONVIVENCIA------*/

.manual-convivencia{
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
    margin: solid;

}

/*-----------INDEX 3----------*/

.academico-contenido{
    padding-top: 130px;
    
    }
    
    .academico-contenido h1{
    
        padding-bottom: 10px ;
    
        
    }
    
    .academico-contents{
    
        border-top:  solid 2px rgb(224, 224, 224);
        background-color: var(--background-color-sections);
        height: auto;
    }
    
    .academico-contenido-contents{
    
    
        margin: 20px;
        display: flex;
        flex-direction: column;

    
    }
    
    .academico-contenido-img{
    
        background-color: var(--background-color-sections);
        
    }
    .academico-contenido-texto{
        text-align: center;
        margin: 50px;
        align-items: center;
    
    }


    /*---------INDEX 3_1_2_3_4_5------*/

.sedes{

    padding-top: 130px;
    
    
    }
    
    .sedes-grados{
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;
    
    }
    
    .sedes-grados div{
    
        padding: 20px;
        margin: 20px ;
        background-color: var(--background-color-sections);
        flex-wrap: wrap;
    
    
    }
    
    .sedes-text{
        padding-top: 30px;
        border-bottom: solid 2px rgb(224, 224, 224);
        height: auto;
        background-color: var(--background-color-sections);
        padding: 10px 20px;
    }
    
    .sedes-title{
        padding-bottom: 10px;
        border-bottom: solid 2px rgb(224, 224, 224);
    
    }
    
    .sedes-grados-sabatino{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color-sections);
    
    }
    .sedes-grados-sabatino div{
        width: 300px;
        padding: 20px 20px;
        margin: 20px 20px;
        background-color: var(--background-color-sections-dark);
    
    }

    /*-----INDEX 4------*/

.contrataciones{
    padding-top: 130px;
}

.contrataciones-title{

    border-bottom: solid 2px rgb(224, 224, 224);
    padding-bottom: 10px;
    font-size: small;
    width: auto;

}



.contrataciones-text {

    border-bottom: solid 2px rgb(224, 224, 224);
    height: auto;
    background-color: var(--background-color-sections);
    padding: 10px 20px;

}

.contrataciones-docs{

    display: flex;
    flex-direction: column;
    align-items: center;


}


.contrataciones-docs div {

    padding: 20px;
    width: 300px;
    margin: 20px;
    background-color: var(--background-color-sections);
}

/*--------CONTÁCTENOS-----*/

.contactenos{
    padding-top: 130px;
}

.contactenos-title{
    border-bottom: solid 2px rgb(224, 224, 224);
    padding-bottom: 10px;
}

.contactenos-text {

    padding: 10px 20px;
    border-bottom: solid 2px rgb(224, 224, 224);
    background-color: var(--background-color-sections);
    height: auto;

}
.contactenos-text-2 {

    padding-top: 30px;

    

}

.contactenos-subtitle{

    padding-bottom: 15px;

}

.contactenos-text-dates{

}

}

/*--------RESPONSIVE FOR CEL max 320px-------------*/

@media only screen and (max-width: 480px) and (min-width: 320px) {


    html{
        width: auto !important;
        overflow-x: hidden !important;
    }

    body{
        background-color: var(--background-color);
        text-align: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        max-width: 100% !important;
        overflow-x: hidden !important;

    }


    
    .menu-inicio{
    
        position: absolute;
        font-size: 20px;
        max-width: 480px;
    }

    .navbar-brand{

        font-size: 15px;
    }

    .navbar{
        display: flex;
        flex-direction: column;
    }

    .primera-seccion{


    }


/*--------HEADER---------*/
.banner-header{
    background-image: url("img/bg-photo3.jpeg");
    height: 600px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1200px;

}

.banner-head-tittle{
    font-size: 30px;
    text-align: center;
    color: var(--text-color);
    padding-top: 250px;
    font-weight: 500;
    
}


/*-------FOOTER-------*/

.footer{

    display: flex;
    background-color: rgb(143, 21, 21);
    color: var(--text-color);
    justify-content: space-around;
    align-items: baseline;
    bottom: 0;
    position: static;
    width: 100%;
    height: auto;

}

.footer-informacion{

    padding-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size:  18px;

}

.footer-informacion div{
    padding: 30px;
    margin: 0 10px;
}

/*------INDEX 1---------*/


/*----------MISIÓN VISIÓN VALORES-----------*/
.mision-vision--valores-flexbox{

    padding: 0;
    background-color: var(--background-color-mision-vision-valores);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 480px;
    min-width: 320px;

}

.mision-vision--valores-flexbox div{ 
    
    color: var(--text-color);
    max-width: 100%;
    padding: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}


/*------FILOSOFIA-----*/

.filosofia-institucional{

    margin: 0px;
    padding: 20px;
    background-color: var(--background-color);
    max-width: 480px;


}

.filosofia-institucional h2{

    font-size: 30px;
    text-align: center;
    
}


/*------CONTACTO------*/

.contacto{

    background-color: var(--background-color-sections);
    color: black;
    text-align: center;
    justify-content: center;
    


}

.contacto h2 {
    padding: 0x;
    background-color: var(--background-color-sections-dark);
    font-size: 45px;
}

.contacto-subtitulo{
    padding: 10px;
    padding-top: 20px;
    font-size: 5px;
}

.contacto p {


    padding: 0 20px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
     
}



/*------INDEX 2---------*/

.quienes-somos{


    padding-top: 130px;
    background-color: var(--background-color-);
    text-align: center;
    justify-content: center;
    border-top: solid 2px var(--background-color-sections);

    
}

.quienes-somos-informacion{
    text-align: center;
    justify-content: center;

}

.quienes-somos-informacion h1{

    border-bottom: solid 2px rgb(224, 224, 224);
    padding-bottom: 25px;
}

.quienes-somos-informacion-text{

    padding-top: 15px;
    padding: 30px;


}

/*---------HIMNO-----------*/

.himno{

    background-color: var(--background-color-sections);
    text-align: center;
    justify-content: center;
    padding: 30px;
}

.himno-letra{
    padding: 15px;

}

.himno-video{
}

.himno-video iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*-------MANUAL CONVIVENCIA------*/

.manual-convivencia{
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
    margin: solid;

}

/*-----------INDEX 3----------*/

.academico-contenido{
    padding-top: 130px;
    
    }
    
    .academico-contenido h1{
    
        padding-bottom: 10px ;
    
        
    }
    
    .academico-contents{
    
        border-top:  solid 2px rgb(224, 224, 224);
        background-color: var(--background-color-sections);
        height: auto;
    }
    
    .academico-contenido-contents{
    
    
        margin: 20px;
        display: flex;
        flex-direction: column;

    
    }
    
    .academico-contenido-img{
    
        background-color: var(--background-color-sections);
        
    }
    .academico-contenido-texto{
        text-align: center;
        margin: 50px;
        align-items: center;
    
    }


    /*---------INDEX 3_1_2_3_4_5------*/

.sedes{

    padding-top: 130px;
    
    
    }
    
    .sedes-grados{
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;
    
    }
    
    .sedes-grados div{
    
        padding: 20px;
        margin: 20px ;
        background-color: var(--background-color-sections);
        flex-wrap: wrap;
    
    
    }
    
    .sedes-text{
        padding-top: 30px;
        border-bottom: solid 2px rgb(224, 224, 224);
        height: auto;
        background-color: var(--background-color-sections);
        padding: 10px 20px;
    }
    
    .sedes-title{
        padding-bottom: 10px;
        border-bottom: solid 2px rgb(224, 224, 224);
    
    }
    
    .sedes-grados-sabatino{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color-sections);
    
    }
    .sedes-grados-sabatino div{
        width: 300px;
        padding: 20px 20px;
        margin: 20px 20px;
        background-color: var(--background-color-sections-dark);
    
    }

    /*-----INDEX 4------*/

.contrataciones{
    padding-top: 130px;
}

.contrataciones-title{

    border-bottom: solid 2px rgb(224, 224, 224);
    padding-bottom: 10px;
    font-size: small;
    width: auto;

}



.contrataciones-text {

    border-bottom: solid 2px rgb(224, 224, 224);
    height: auto;
    background-color: var(--background-color-sections);
    padding: 10px 20px;

}

.contrataciones-docs{

    display: flex;
    flex-direction: column;
    align-items: center;


}


.contrataciones-docs div {

    padding: 20px;
    width: 300px;
    margin: 20px;
    background-color: var(--background-color-sections);
}

/*--------CONTÁCTENOS-----*/

.contactenos{
    padding-top: 130px;
}

.contactenos-title{
    border-bottom: solid 2px rgb(224, 224, 224);
    padding-bottom: 10px;
}

.contactenos-text {

    padding: 10px 20px;
    border-bottom: solid 2px rgb(224, 224, 224);
    background-color: var(--background-color-sections);
    height: auto;

}
.contactenos-text-2 {

    padding-top: 30px;

    

}

.contactenos-subtitle{

    padding-bottom: 15px;

}

.contactenos-text-dates{

}

}



/*-------RESPONSIVE FOR TABLET---------*/

@media only screen and (max-width: 768px) and (min-width: 480px) {


    html{
        width: auto !important;
        overflow-x: hidden !important;
    }

    body{
        background-color: var(--background-color);
        text-align: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        max-width: 100% !important;
        overflow-x: hidden !important;

    }


    
    .menu-inicio{
    
        position: absolute;
        font-size: 20px;
        max-width: 100%;
    }

    .navbar-brand{

        font-size: auto;
    }


    .primera-seccion{


    }


/*--------HEADER---------*/
.banner-header{
    background-image: url("img/bg-photo3.jpeg");
    height: 600px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1200px;

}

.banner-head-tittle{
    font-size: 50px;
    text-align: center;
    color: var(--text-color);
    padding-top: 230px;
    font-weight: 500;
    
}


/*-------FOOTER-------*/

.footer{

    display: flex;
    background-color: rgb(143, 21, 21);
    color: var(--text-color);
    justify-content: space-around;
    align-items: baseline;
    bottom: 0;
    position: static;
    width: 100%;
    height: auto;

}

.footer-informacion{

    padding-top: 40px;
    display: flex;
    font-size:  15px;

}

.footer-informacion div{
    padding: 10px;
    margin: 0 10px;
}

/*------INDEX 1---------*/


/*----------MISIÓN VISIÓN VALORES-----------*/
.mision-vision--valores-flexbox{

    padding: 0;
    background-color: var(--background-color-mision-vision-valores);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 480px;


    

}

.mision-vision--valores-flexbox div{ 
    
    color: var(--text-color);
    margin: 0; 
    max-width: 100%;
    min-width: 480px;



}

/*------FILOSOFIA-----*/

.filosofia-institucional{

    margin: 0px;
    padding: 20px;
    background-color: var(--background-color);
    max-width: 100%;


}

.filosofia-institucional h2{

    font-size: 30px;
    text-align: center;
    
}


/*------CONTACTO------*/

.contacto{

    background-color: var(--background-color-sections);
    color: black;
    text-align: center;
    justify-content: center;
    


}

.contacto h2 {
    padding: 0x;
    background-color: var(--background-color-sections-dark);
    font-size: 30px;
}

.contacto-subtitulo{
    padding: 10px;
    padding-top: 20px;
    font-size: 5px;
}

.contacto p {


    padding: 0 20px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
     
}



/*------INDEX 2---------*/

.quienes-somos{


    padding-top: 50px;
    background-color: var(--background-color-);
    text-align: center;
    justify-content: center;
    border-top: solid 2px var(--background-color-sections);

    
}

.quienes-somos-informacion{
    text-align: center;
    justify-content: center;

}

.quienes-somos-informacion h1{

    border-bottom: solid 2px rgb(224, 224, 224);
    padding-bottom: 25px;
}

.quienes-somos-informacion-text{

    padding-top: 15px;
    padding: 30px;


}

/*---------HIMNO-----------*/

.himno{

    background-color: var(--background-color-sections);
    text-align: center;
    justify-content: center;
    padding: 30px;
}

.himno-letra{
    padding: 15px;

}

.himno-video{
}

.himno-video iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*-------MANUAL CONVIVENCIA------*/

.manual-convivencia{
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
    margin: solid;

}

/*-----------INDEX 3----------*/

.academico-contenido{
    padding-top: 50px;
    
    }
    
    .academico-contenido h1{
    
        padding-bottom: 10px ;
    
        
    }
    
    .academico-contents{
    
        border-top:  solid 2px rgb(224, 224, 224);
        background-color: var(--background-color-sections);
        height: auto;
    }
    
    .academico-contenido-contents{
    
    
        margin: 20px;
        display: flex;
        flex-direction: column;

    
    }
    
    .academico-contenido-img{
    
        background-color: var(--background-color-sections);
        
    }
    .academico-contenido-texto{
        text-align: center;
        margin: 50px;
        align-items: center;
    
    }


    /*---------INDEX 3_1_2_3_4_5------*/

.sedes{

    padding-top: 50px;
    
    
    }
    
    .sedes-grados{
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;
    
    }
    
    .sedes-grados div{
    
        padding: 20px;
        margin: 20px ;
        background-color: var(--background-color-sections);
        flex-wrap: wrap;
    
    
    }
    
    .sedes-text{
        padding-top: 30px;
        border-bottom: solid 2px rgb(224, 224, 224);
        height: auto;
        background-color: var(--background-color-sections);
        padding: 10px 20px;
    }
    
    .sedes-title{
        padding-bottom: 10px;
        border-bottom: solid 2px rgb(224, 224, 224);
    
    }
    
    .sedes-grados-sabatino{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color-sections);
    
    }
    .sedes-grados-sabatino div{
        width: 300px;
        padding: 20px 20px;
        margin: 20px 20px;
        background-color: var(--background-color-sections-dark);
    
    }

    /*-----INDEX 4------*/

.contrataciones{
    padding-top: 50px;
}

.contrataciones-title{

    border-bottom: solid 2px rgb(224, 224, 224);
    padding-bottom: 10px;
    font-size: small;
    width: auto;

}



.contrataciones-text {

    border-bottom: solid 2px rgb(224, 224, 224);
    height: auto;
    background-color: var(--background-color-sections);
    padding: 10px 20px;

}

.contrataciones-docs{

    display: flex;
    flex-direction: column;
    align-items: center;


}


.contrataciones-docs div {

    padding: 20px;
    width: 300px;
    margin: 20px;
    background-color: var(--background-color-sections);
}

/*--------CONTÁCTENOS-----*/

.contactenos{
    padding-top: 50px;
}

.contactenos-title{
    border-bottom: solid 2px rgb(224, 224, 224);
    padding-bottom: 10px;
}

.contactenos-text {

    padding: 10px 20px;
    border-bottom: solid 2px rgb(224, 224, 224);
    background-color: var(--background-color-sections);
    height: auto;

}
.contactenos-text-2 {

    padding-top: 30px;

    

}

.contactenos-subtitle{

    padding-bottom: 15px;

}

.contactenos-text-dates{

}

}